.form {
  display: block;
  margin: 0 auto;
  width: 20rem;
}

.form-status {
  margin: 0 auto;
  width: 20rem;
  text-align: center;
}

.form-message {
  margin-right: 1rem;
}

.form__label {
  display: block;
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 0.3rem;
}

.form__input {
  background: var(--bg-1);
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 0.15rem solid transparent;
  display: block;
  width: 100%;
  margin: 0 0 1.5rem;
  font-size: 1rem;
  box-sizing: border-box;
}

.form.error > .form__input {
  border: 0.15rem solid red;
}

.form__btn {
  background: var(--bg-1);
  padding: 0.5rem 1.5rem;
  border-radius: 0.2rem;
  border: none;
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  margin-top: 1rem;
}

.log-status {
  margin: 0 auto;
  width: 20rem;
  text-align: center;
}

.log-message {
  margin-right: 1rem;
}
